/target
/lib
/classes
/checkouts
/node_modules
pom.xml
pom.xml.asc
*.jar
*.class
*.nippy
buddy-map.csv
cached-data.edn
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-repl-history
.nrepl-port
jira-reporter.log
jira-reporter.jira.log
