{:nrepl {:host "0.0.0.0"
         :port 7878}

 :jira {:username   "white1"
        :password   ""
        :server     "jira.cbsels.com"
        :batch-size 50}

 :cache-filename "cached-data.edn"

 :custom-fields {:epic-link    "customfield_10236"
                 :story-points "customfield_10002"
                 :team         "customfield_12604"
                 :buddy        "customfield_12811"}
 
 :schema {:to-do-states            #{"To Do" "Ready" "Open" "Software Simplified Workflow for Project SDPR" "Ready for Dev"}
          :in-progress-states      #{"In Progress"}
          :blocked-states          #{"Blocked" "Progress Blocked"}
          :closed-states           #{"Closed - DONE" "Closed" "Done" "Closed - Won't Do" "closed - done" "closed" "done" "closed - won't do"}
          :deployment-states       #{"Deploy to SIT" "Deploy to Prod" "Ready for Release" "In Review" "In Test"}
          :epic-types              #{"Epic"}
          :story-types             #{"Story"}
          :task-types              #{"Task"}
          :subtask-types           #{"Sub-task" "Bug Sub-task"}
          :bug-types               #{"Bug" "Incident"}
          :gdpr-types              #{"GDPR Compliance"}
          :story-closed-state      "Closed"
          :story-open-state        "To Do"
          :story-in-progress-state "In Progress"}

 :user-aliases {}
 }
